// Roots :
// Farben :
$backgroundColor : #2B2D5B;
$inputColor : #232450;
$greenColor : #00FF00;
$ausgebenColor : #515FEB;
$sparenColor : #EFB722;
$sparenColor : #EFB722;
$sontigesColor : #95989A;
$amountColor : #EFBC2C;
$h1FontSize : 35px;
$h2FontSize : 25px;
$h3FontSize : 15px;
$listItemSpacing : 5px;

// Button Shadow
$buttonShadow : 0px 3px 15px 5px #000000;

// Generele Styles

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}